{% extends "base.html.twig" %}

{% block title %}Modifier le bien
{% endblock %}

{% block content %}

    {% if error %}
        <p class='error'>{{ error }}</p>
    {% endif %}

    <h2>Modifier un bien</h2>

    <form class="" action="./update-property" method="POST">

        <label for="type_property">Type de propriété</label>
        <select name="type_property" id="type_property" required>
            <option value="Maison" {% if property.type_property == 'Maison' %}selected{% endif %}>Maison</option>
            <option value="Appartement" {% if property.type_property == 'Appartement' %}selected{% endif %}>Appartement</option>
            <option value="Garage" {% if property.type_property == 'Garage' %}selected{% endif %}>Garage</option>
        </select>

        <label for="surface_area">Surface</label>
        <input type="text" name="surface_area" id="surface_area" value="{{ property.surface_area }}" required>

        <label for="price">Prix</label>
        <input type="text" name="price" id="price" value="{{ property.price }}" required>

        <label for="description">Description</label>
        <input type="text" name="description" id="description" value="{{ property.description }}" required>

        <label for="type_transaction">Type de transaction</label>
        <select id="type_transaction" name="type_transaction">
            <option value="vente" {% if property.type_transaction == 'vente' %}selected{% endif %}>Vente</option>
            <option value="location" {% if property.type_transaction == 'location' %}selected{% endif %}>Location</option>
        </select>

        <input type="hidden" name="id" id="id" value="{{ property.id }}">

        <button>Confirmer modification</button>

    </form>

{% endblock %}