{% extends "base.html.twig" %}

{% block title %}Properties
{% endblock %}

{% block content %}

    <h1>Properties</h1>
    <div class="container">

        {% for property in properties %}
            <ul>
                <li><img src="{{ photos.url }}" alt="{{ photos.alt }}"></li>
                <li>{{ property.type_property }}</li>
                <li>Prix : {{ property.price }} euros</li>
                <li>Description : {{ property.description }}</li>
                <li>Bien en {{ property.type_transaction }}</li>

            </ul>
            <a class="modify" href="./edit-property?id={{ property.id }}">Modifier</a>
            <a class="delete" href="./delete-property?id={{ property.id }}">Supprimer</a>
        {% endfor %}

    </div>

    <a class="add" href="./create-property">Créer une nouvelle propriété</a>

{% endblock %}