{% extends "base.html.twig" %}

{% block title %}Properties
{% endblock %}

{% block content %}

    <h1>Properties</h1>

    <ul>
        {% for property in properties %}
            <li><img src="{{ photos.url }}" alt="{{ photos.alt }}"></li>
            <li>Prix : {{ property.price }} euros</li>
            <li>Description : {{ property.description }}</li>
            <li>Bien en {{ property.type_transaction }}</li>
            <li>Type de bien : {{ property.type_property }}</li>
        {% endfor %}
    </ul>

    <a href="./create-property">Créer une nouvelle propriété</a>

{% endblock %}